{% extends 'flatpages/default_page.html' %}


{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h1><span style="color: #ff0000;"><strong>Welcome To The Best Online HTML Web Editor! </strong></span></h1>
<h3><em>You can type your text directly in the editor or paste it from a Word Doc, PDF, Excel etc.</em></h3>
<h4 style="text-align: right;">The visual editor on the right and the source editor on the left are linked together and the changes are reflected in the other one as you type! smiley</h4>
<table class="editorDemoTable" style="width: 237px;">
<tbody>
<tr>
<td style="width: 57px;"><strong>Name</strong></td>
<td style="width: 99.6719px;"><strong>City</strong></td>
<td style="width: 52.3281px;"><strong>Age</strong></td>
</tr>
<tr>
<td style="width: 57px;">John</td>
<td style="width: 99.6719px;">Chicago</td>
<td style="width: 52.3281px;">23</td>
</tr>
<tr>
<td style="width: 57px;">Lucy</td>
<td style="width: 99.6719px;">Wisconsin</td>
<td style="width: 52.3281px;">19</td>
</tr>
<tr>
<td style="width: 57px;">Amanda</td>
<td style="width: 99.6719px;">Madison</td>
<td style="width: 52.3281px;">22</td>
</tr>
</tbody>
</table>
<p>This is a table you can experiment with.</p>
<p>&nbsp;</p>
{% endblock content %}
